@model ProjectGram.Models.UserViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <div class="perfil-container">
            <div class="foto">

                <img data-toggle="modal" id="foto_perfil_actualizador" data-target="#modal_perfil" src="@Model.User.Avatar" />


            </div>
            <div class="informacion">
                <h3>@Model.User.Nombre @Model.User.Apellido</h3>

                <p>Seguidores: <span>20</span></p>
                <p>Siguiendo: <span>10</span></p>
                <p>Publicaciones: <span>15</span></p>
            </div>
        </div>

        <a class="btn btn-default " data-toggle="modal" data-target="#subir_foto">
            <i class="glyphicon glyphicon-plus-sign "></i>
            Agregar nuevas fotos
        </a>
        <div class="modal fade" id="modal_perfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <form asp-controller="Foto" id="foto_perfil" asp-action="FotoPerfil" method="POST" enctype="multipart/form-data">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title" id="exampleModalLongTitle">Cambiar foto de perfil</h3>

                        </div>
                        <div class="modal-body">
                            <ul class="opciones_fotos">
                                <li class="eliminarFotoPerfil" id="@Model.User.Id"><i class="glyphicon glyphicon-trash"></i> Eliminar foto actual</li>
                                <li class="datos" id="boton_foto_load"><i class="glyphicon glyphicon-upload"></i> Cargar una Foto</li>
                            </ul>
                        </div>
                        <input type="file" name="formFile" class="hidden" id="foto_load" />
                        <div class="modal-footer">
                            <button id="cerrar_modal_perfil" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary loader">Cargar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<hr />

<input type="hidden" id="userId" value="@Model.User.Id" />
<div id="cargar_fotos">

</div>

<div class="modal fade" id="subir_foto" tabindex="-1" role="dialog" aria-labelledby="subir_foto" aria-hidden="true">
    <div class="modal-dialog modal-grande" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="modal-title">Subir Fotos</h3>
                    </div>
                    <div class="col-lg-6">
                        <button id="close_uploader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">

                        <div class="col-lg-10">
                            <div class="modal-body">
                                <form class="form-horizontal" id="album_form" asp-action="CreateAlbum" asp-controller="Foto" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <label for="descrpicion">
                                                Descripción
                                            </label>
                                            <input id="descripcion" asp-for="Foto.Descripcion" class="form-control" type="text" placeholder="Ej. Mi viaje por..." />
                                            <span asp-validation-for="Foto.Descripcion"></span>
                                        </div>
                                        <input type="hidden" id="UserId" asp-for="Foto.UserId" value="@Model.User.Id" />
                                        <input type="hidden" id="Fecha" asp-for="Foto.Fecha" value="@DateTime.Now" />
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <label for="descrpicion">
                                                Adjuntar foto
                                            </label>
                                            <input id="foto_uploader" accept="image/png, .jpeg, .jpg" multiple asp-for="Foto.Img" class="form-control" type="file" />
                                            <span asp-validation-for="Foto.Img"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input class="btn btn-success" id="btn_subir" type="submit" value="Agregar" />

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input class="btn btn-danger hidden" id="btn_limpiar" type="reset" value="Limpiar" />

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-10">

                            <div class="modal-body">
                                <form class="form-horizontal" method="post">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <label for="descripcion">
                                                Preview
                                            </label>
                                            <input class="form-control" type="text" placeholder="Ej. Mi viaje por..." />
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div border="1">
                        <div class="modal-body" id="cargar-fotos">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
